/* =========== Products =========== */

.products {
    margin: 60px 0;
}

.products-list {
    margin-top: -25px;
}

.products-list-item {
    margin: 0px 20px;
}

.products-list-item a {
    color: var(--subColor);
    font-size: 14px;
    font-weight: 500;
    transition: color 0.5s;
}

.products-content {
    flex-wrap: wrap;
    margin-top: 50px;
}

.products-item {
    margin-bottom: 40px;
}

.products-item-img img {
    transition: opacity 0.5s;
}

.off,
.sale {
    top: 12px;
    font-size: 13px;
    color: white;
    transition: opacity 0.5s, visibility 0.5s;
}

.off {
    right: 12px;
    background: var(--mainColor);
    padding: 3px 5px;
    opacity: 1;
    visibility: visible;
}

.sale {
    left: 12px;
    background: black;
    padding: 3px 8px;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.5s;
}

.overlay img {
    transition: opacity 0.5s;
}

.products-btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products-btn .prod-btn {
    width: 40px;
    height: 40px;
    background-color: black;
    border: none;
    transition: background-color 0.5s;
}

.products-btn .prod-btn i {
    font-size: 16px;
    line-height: 40px;
    color: white;
}

.wish-tooltip,
.view-tooltip,
.compare-tooltip,
.cart-tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: var(--thirdColor);
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    margin-left: -60px;
    transition: visibility 0.5s, opacity 0.5s;
}

.wish-tooltip,
.compare-tooltip {
    width: 120px;
    left: 50%;
}

.view-tooltip,
.cart-tooltip {
    width: 85px;
    left: 90%;
}

.wish-tooltip::after,
.view-tooltip::after,
.compare-tooltip::after,
.cart-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--thirdColor) transparent transparent transparent;
}

.products-item-info {
    line-height: 1.8;
}

.products-item-info i {
    font-size: 14px;
    color: #cdcdcd;
}

.products-item-info i.rate {
    color: #ffb700;
}

.desc {
    font-size: 14px;
    color: var(--subColor);
}

.price {
    font-size: 15px;
    font-weight: bold;
}

.ex-price {
    font-size: 15px;
    color: var(--titleColor);
    text-decoration: line-through;
}

/* =========== Products Hover =========== */
.products-list ul li a:hover,
.products-list-item .prod-btn:hover,
.products-item:hover .desc {
    color: var(--mainColor);
}

.wish:hover .wish-tooltip,
.view:hover .view-tooltip,
.compare:hover .compare-tooltip,
.cart:hover .cart-tooltip {
    visibility: visible;
    opacity: 1;
}

.products-item:hover .sale {
    opacity: 1;
    visibility: visible;
}

.products-item:hover .off {
    opacity: 0;
    visibility: hidden;
}

.products-item:hover .overlay {
    transform: scale(1, 1);
}

.products-item:hover .overlay img {
    opacity: 0.7;
}

.products-item:hover img {
    opacity: 0;
}

.products-btn a:hover {
    background-color: var(--mainColor);
}